@import url("//fonts.googleapis.com/css?family=Arvo:400,700|Raleway:400,300,500|Open+Sans:400,700,900,300");
* {
    font-family: 'Raleway', serif;
    font-weight: 300;
    letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
    font-family: 'Arvo', serif;
    font-weight: 400;
}

.breadcrumb {
    border-left-color: #3E84C2;
}

.btn-link {
    color: #3E84C2;
}

.btn-link:hover,
.btn-link:focus {
    color: #418d49;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus {
    border-bottom-color: #3E84C2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom-color: #3E84C2;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
    color: #3E84C2;
}

.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus {
    background-color: #3E84C2;
    border-color: #3E84C2;
    color: #ffffff;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover,
.nav-tabs.nav-stacked > .active > a:focus {
    border-left-color: #418d49;
    background-color: #3E84C2;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: #3E84C2;
}

.nav .caret {
    border-top-color: #3E84C2;
    border-bottom-color: #3E84C2;
}

.nav a:hover .caret {
    border-top-color: #418d49;
    border-bottom-color: #418d49;
}

a {
    color: #3E84C2;
}

a:hover,
a:focus {
    color: #418d49;
}

.nav a:hover {
    color: #ffffff;
}

a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #3E84C2;
}

.tt-suggestion.tt-is-under-cursor {
    color: #3E84C2;
}

.typeahead:focus {
    border-color: #3E84C2;
}

.form-control:focus {
    border-color: #3E84C2;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #3E84C2;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #3E84C2;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #3E84C2;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
    background-color: #3E84C2;
}

.pagination > .active > a,
.pagination > .active > span {
    background-color: #3E84C2;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #3E84C2;
}

blockquote {
    border-left-color: #3E84C2;
}

blockquote.pull-right {
    border-right-color: #3E84C2;
}

.text-primary {
    color: #3E84C2;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #3E84C2;
}

a.list-group-item.active {
    background-color: #3E84C2;
    border-color: #3E84C2;
}

a.list-group-item.active .list-group-item-text {
    color: #eff7f0;
}

.btn {
    border-radius: 3px;
}

.btn:hover {
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.13);
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #3E84C2;
}

.panel-primary .panel-heading {
    background-color: #3E84C2;
    border-color: #3E84C2;
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(images/main_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
    padding: 0;
}

.jumbotron .intro {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 120px;
    padding-bottom: 40px;
    min-height: 400px;
}

.jumbotron .intro .row-top div.ccont {}

.row-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron div.ccont {
    background: #fff;
    min-height: 150px;
}

.jumbotron .row-top div.ccont {
    -webkit-box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.75);
    -moz-box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.75);
    box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.75);
}

.jumbotron .row-bottom div.ccont {
    -webkit-box-shadow: -1px -1px 2px rgba(100, 100, 100, 0.75);
    -moz-box-shadow: -1px -1px 2px rgba(100, 100, 100, 0.75);
    box-shadow: -1px -1px 2px rgba(100, 100, 100, 0.75);
}

.jumbotron p {
    padding: 20px 0;
}

.jumbotron .media {
    margin: 50px 0;
}

.jumbotron .media-body h1 {
    margin-top: 100px;
}

section.slider {
    color: #ffffff;
    background: #2c6393;
    margin: 40px 0;
    padding: 40px 0;
}

section.slider h2 {
    margin-bottom: 20px;
}

section.slider .col-md-8 {
    padding-left: 30px;
}

.big-list {
    font-size: 25px;
    font-weight: 300;
    margin-top: 40px;
    line-height: 2;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.inner-page {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}

section#portfolio {
    padding-bottom: 70px;
    position: relative;
    min-height: 600px;
}

section.education {
    background: url("images/tweed.png");
    padding: 30px 0 50px 0;
}

#Edu-quote,
#Exp-quote {
    color: black !important;
    font-size: 21px;
}

div.white,
div.white * {
    color: #ffffff !important;
}

.client-logo .carousel-controls {
    margin-top: -30px;
}

.client-logo .carousel-controls a {
    color: #ffffff;
    padding: 0 8px 2px 8px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
}

.client-logo .carousel-controls a:first-child {
    margin-right: 2px;
}

.testimonial-author-info a {
    color: #ffffff;
    font-weight: 900;
    display: block;
}

a.list-group-item.active {
    background-color: #389968;
    border-color: #389968;
}

a.list-group-item .list-group-item-heading {
    margin-bottom: 10px;
    font-weight: 400;
}

.features {
    padding-top: 30px;
}

.features p {
    margin: 30px 0;
}

.features .col-lg-4:first-child .icon-stack-base {
    color: #52AD81;
}

.features .col-lg-4:nth-child(2) .icon-stack-base {
    color: #CD5A48;
}

.features .col-lg-4:last-child .icon-stack-base {
    color: #51A9D6;
}

.label {
    font-weight: 300;
}

div.feature-box {
    clear: both;
    margin-top: 30px;
}

div.feature-box h4 {
    margin-bottom: 3px;
}

div.feature-box div.feature-box-icon {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffffff;
    border-radius: 6px;
    color: #2D6D7B;
    display: inline-block;
    float: left;
    height: 65px;
    line-height: 65px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 65px;
}

div.feature-box div.feature-box-info {
    padding-left: 50px;
}

div.feature-box div.feature-box-icon i.image-icon {
    position: relative;
    top: 5px;
}

div.feature-box div.feature-box-icon i.image-icon.small {
    top: 2px;
}

footer div.footer-ribbon:before {
    border-right-color: #005580;
}

footer div.footer-ribbon:before {
    border-right: 10px solid #005580;
    border-top: 16px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}

footer div.container div.row > div {
    margin-bottom: 25px;
}

footer div.footer-ribbon {
    background: #0088CC;
    margin: -100px 0 0 30px;
    padding: 10px 20px 6px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
}

footer div.footer-ribbon span {
    color: #ffffff;
    font-weight: 700;
}

footer {
    background: #121214;
    border-top: 4px solid #1F1F1F;
    font-size: 0.9em;
    padding: 80px 0 0;
    position: relative;
}

img {
    max-width: 100%;
}

footer * {
    color: #ffffff;
}

.footer-copyright {
    margin-top: -40px;
}

#footer-menu {
    text-align: right;
}

#footer-menu li {
    display: inline;
    list-style: none;
    margin-left: 10px;
}

#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all 0.5s;
}

#footer i.fa:hover {
    background: #FCAC45;
    border-color: #FCAC45;
    color: #ffffff;
}

.title span {
    font-weight: 900;
}

.navbar-color {
    background: rgba(0, 0, 0, 0.7);
}

.navbar-nav {
    margin-top: 6px;
    float: right;
}

.navbar-nav li a {
    color: #ffffff;
    font-weight: 300;
    text-transform: lowercase;
    padding: 10px 20px;
    font-size: 13pt;
    border-radius: 2px;
    margin-left: 3px;
}

.navbar-nav li a:focus,
.navbar-nav li a:active,
.navbar-nav li.active a,
.navbar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    outline: none !important;
}


.hexicon {
    background: url("images/hex.png");
    width: 132px;
    height: 210px;
    position: relative;
    margin: 0 auto;
}

.inicon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inicon.html5 {
    background: url("images/inicons/html5.png") no-repeat center 40px;
    background-size: 80px auto;
}

.inicon.css3 {
    background: url("images/inicons/css3.png") no-repeat center 40px;
    background-size: 80px auto;
}

.inicon.javascript {
    background: url("images/inicons/js.png") no-repeat center 40px;
    background-size: 80px auto;
}

.inicon.xcode {
    background: url("images/inicons/xcode.png") no-repeat center 35px;
    background-size: 80px auto;
}

.inicon.android {
    background: url("images/inicons/android.png") no-repeat center 35px;
    background-size: 80px auto;
}

.inicon.git {
    background: url("images/inicons/git.png") no-repeat center 40px;
    background-size: 75px auto;
}

.inicon.angular {
    background: url("images/inicons/angular.png") no-repeat center 35px;
    background-size: 90px auto;
}

.inicon.bootstrap {
    background: url("images/inicons/bootstrap.png") no-repeat center 35px;
    background-size: 100px auto;
}

.inicon.aws {
    background: url("images/inicons/aws.png") no-repeat center -5px;
    background-size: 150px auto;
}

.inicon.mysql {
    background: url("images/inicons/mysql.png") no-repeat center 45px;
    background-size: 100px auto;
}

.inicon.jquery {
    background: url("images/inicons/jquery.png") no-repeat center 35px;
    background-size: 90px auto;
}

.inicon.learn {
    background: url("images/inicons/learn.png") no-repeat center 25px;
    background-size: 90px auto;
}

.inicon.nccu {
    background: url("images/inicons/nccu.png") no-repeat center 2px;
    background-size: 60px auto;
}

.inicon.trendmicro {
    background: url("images/inicons/trend_micro.png") no-repeat center 6px;
    background-size: 55px auto;
    opacity: 0.9;
}

.inicon.army {
    background: url("images/inicons/army.png") no-repeat center 3px;
    background-size: 60px auto;
}

p.lead {
    font-family: 'Arvo' !important;
}

.up-triangle,
.down-triangle {
    float: left;
    margin-left: -100px;
}

.up-triangle:first-child {
    margin-left: 20px;
}

@media (max-width: 980px) {
    .up-triangle,
    .down-triangle {
        margin-bottom: 20px;
    }
    .down-triangle:nth-child(5) {
        margin-left: 20px;
    }
    .icon-reorder {
        color: #ffffff;
    }
    .navbar-nav {
        clear: both !important;
        float: none;
        padding: 10px;
    }
    .navbar-header {
        margin-left: 50% !important;
    }
    .navbar-brand {
        margin-left: -80px !important;
    }
}

@media (max-width: 360px) {
    .up-triangle,
    .down-triangle {
        clear: both;
        margin-left: 50px !important;
    }
    .icon-reorder {
        color: #ffffff;
    }
    .navbar-nav {
        clear: both !important;
        float: none;
        padding: 10px;
    }
}

.up-triangle {
    width: 0;
    height: 0;
    border-bottom: 200px solid #ffffff;
    border-left: 122px solid transparent;
    border-right: 122px solid transparent;
    position: relative;
}

.down-triangle {
    width: 0;
    height: 0;
    border-top: 200px solid #ffffff;
    border-left: 122px solid transparent;
    border-right: 122px solid transparent;
    position: relative;
}

.up-triangle div.info {
    position: absolute;
    bottom: -170px;
    color: #ffffff;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    font-size: 14pt;
    font-family: 'Arvo';
}

.down-triangle div.info {
    position: absolute;
    top: -170px;
    color: #ffffff;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    font-family: 'Arvo';
    font-size: 14pt;
}

.triangles {
    margin-bottom: 40px;
}

.triangles .icon {
    font-size: 22pt;
    color: #ffffff;
    line-height: 60px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.down-triangle .icon {
    padding-top: 15px;
    line-height: 60px;
}

.up-triangle:hover .icon,
.down-triangle:hover .icon {
    color: rgba(52, 118, 135, 0.9);
}


/*  portfolio  */

.portfolio-item {
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    background-repeat: no-repeat;
}

#GGWorld .portfolio-item {
    background-image: url('images/projects/gg-preview.png');
    background-size: 500px 250px;
}

#ZOBA .portfolio-item {
    background-image: url('images/projects/zoba-preview.jpg');
    opacity: 0.95;
}

#Clozet .portfolio-item {
    background-color: #e8eef2;
}

#Clozet .portfolio-item img {
    border-radius: 15px;
    position: absolute;
    margin: 18% 32%;
}

#demo {
    position: absolute;
    width: 40%;
    left: 25%;
    bottom: 60%;
}

.portfolio-item .hover-bg {
    height: 250px;
    width: auto;
    overflow: hidden;
    position: relative;
}

.portfolio-item ~h3,
.portfolio-item ~h4 {
    text-align: center;
}

.hover-bg .hover-text {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.hover-bg:hover .hover-text {
    opacity: 1;
}

#table {
    display: none;
    width: 360px;
    margin: 10px auto;
}

#table .row * p{
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);;
    text-align: center;
    border-radius: 13px;
}

#MIG {
    margin-left: 15%;
}

.quotes {
    font-size: 20px;
    font-style: italic;
    color: dimgray;
}

#Edu-content * {
    text-align: center;
    color: white;
}


/*   modal   */

.modal-dialog {
    width: 80vw;
}

.modal-body {
    text-align: center;
    height: 80%;
}

.item img {
    position: relative;
    height: 90%;
    width: 90%;
}


/* navigation buttons adjust in modal-carousel */

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    color: darkgray !important;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -2%;
    top: 40%;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -2%;
    top: 40%;
}

@media screen and (max-width: 768px) {
    .triangles {
        display: none;
    }
    .triangles ~.row p{
        font-size: 18px;
    }
    #table {
        display: block;
    }
}
